<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    th:fragment="layout(title, content, customScript)"
    th:replace="~{emptylayout :: emptylayout(~{::title}, ~{::body}, ~{::customScript})}"
>
        <div th:fragment="body">
            <div id="main-wrapper">
                <!-- Topbar header -->
                <header th:replace="fragments/header :: header"></header>
                <!-- End Topbar header -->
                
                <!-- Sidebar -->
                <aside th:replace="fragments/sidebar :: sidebar"></aside>
                <!-- End Sidebar -->

                <!-- Main content wrapper-->
                <div class="page-wrapper">
                    <div class="container-fluid">
                        
                        <!-- Main content-->
                        <div th:replace="${content}"></div>
                        <!-- End content-->
                    
                    </div>

                    <!-- footer -->
                    <footer class="footer text-center">
                        Big Beautiful Chess 2020 <a href="https://github.com/Azarogue/Big_Beautiful_Chess">Check us on Github</a>.
                    </footer>
                    <!-- End footer -->
                </div>
            </div>

            <!-- Setting Panel -->
            <aside th:replace="fragments/sidepanel :: settingbar"></aside>
            <!-- End Setting Panel-->
            
            <div class="chat-windows"></div>
        </div>

</html>
