<html
	th:replace="~{emptylayout :: emptylayout(~{::title}, ~{::body}, ~{::customScript})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Authentification</title>
</head>
<body>
	<div class="main-wrapper" th:fragment="body" style="background: url(../assets/images/chess_bg.jpg) no-repeat center center; background-size: cover;">
		<div
			class="auth-wrapper d-flex no-block justify-content-center align-items-center" >
			<div class="auth-box">
				<div id="loginform">
					<div class="logo">
						<span class="db"><img
							src="../assets/images/logo-icon.png" alt="logo" /></span>
						<h5 class="font-medium m-b-20">BBC | Connexion</h5>
					</div>
					<!-- Form -->
					<div class="row">
						<div class="col-12">
							<form class="form-horizontal m-t-20" id="loginform" name="f" th:action="@{/login}" method="post">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1"><i
											class="ti-user"></i></span>
									</div>
									<input type="text" class="form-control form-control-lg"
										placeholder="Username" aria-label="Username"
										aria-describedby="basic-addon1"
										id="username" name="username" autocomplete="off">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2"><i
											class="ti-pencil"></i></span>
									</div>
									<input class="form-control form-control-lg"
										placeholder="Password" aria-label="Password"
										aria-describedby="basic-addon1"
										type="password" id="password" name="password" autocomplete="off">
								</div>
								
								<div class="form-group text-center">
									<div class="col-xs-12 p-b-20">
										<button class="btn btn-block btn-lg btn-info" type="submit">Connexion</button>
									</div>
								</div>
								<div class="form-group m-b-0 m-t-10">
									<div class="col-sm-12 text-center">
										Pas encore inscrit ? <a th:href="@{/register}" href="#"
											class="text-info m-l-5"><b>Inscription</b></a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>

<script th:fragment="customScript">
	$('[data-toggle="tooltip"]').tooltip();
	$(".preloader").fadeOut();

	$('#to-recover').on("click", function() {
		$("#loginform").slideUp();
		$("#recoverform").fadeIn();
	});
</script>

</html>