<!doctype html>
<html
	th:replace="~{layout :: layout(~{::title}, ~{::content}, ~{::customScript})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Play</title>
</head>
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row justify-content-md-center d-flex">
			<div class="col col-md-auto">
				
				<h3 class="text-center"> <i class="fas fa-user"></i><th:block th:text=${opponent.username}>Adversaire</th:block></h3>
				
				<div id="header" class="d-flex justify-content-between">
					<span id="bombSpan" >000</span>
					<span id="timeSpan">00:00</span>
				</div>
				
				<table onload="" border="1" class="gameGrid" id="game">
					<tbody>
						<tr th:each="x : ${#numbers.sequence(0,7,1)}" th:with="row=${board.cells[x]}">
							<td th:each="y : ${#numbers.sequence(0,7,1)}" th:with="piece=${board.cells[x][y]}" 
								class="text-center caseGrille"
								th:style="${ (y%2 + x)%2 ==0 ? 'background:lightgrey': 'background:white'}">
							<a th:if="${!piece.isEmpty() or pieceInSelection!=null}" 
							th:class="${  piece.isEmpty()? 'clickableEmpty' : 
								( (pieceInSelection!=null and pieceInSelection.getCoord().equals(x,y)) ? 'selectedPiece' :
								(piece.color==0? 'clickablePawn' : 'adversePawn') )  }"
								style="width: 100%; height: 100%; display: block; text-decoration: none" href="#" th:onclick="actionCase([[${x}]],[[${y}]])">
								
									<img class="p-1 py-2 pawn" style="z-index: 1;" th:unless="${piece.isEmpty()}" th:alt="${piece.type}" th:src='${"/assets/chess_icons/"+ (piece.color==0? "white" : "black") +"/"+piece.type+".svg"}'>
									<!-- Movement helpers -->
									<th:block th:if="${pieceInSelection!=null and moves !=null}">
										<th:block th:each="move : ${moves}">
											<th:block th:if="${move.equals(x,y)}" >
												<img class="dotHelper" th:if="${piece.isEmpty()}" th:src="@{/assets/chess_icons/dot.svg}" width="32">
											</th:block>
										</th:block>
									</th:block>
							</a>
							</td>
						</tr>
					  </tbody>
				</table>
				
				<h3 class="mt-3 text-center"> <i class="fas fa-user"></i> <th:block th:text=${myself.username}>Moi</th:block></h3>
				
			</div>
		</div>
		<br>
		<div id="overlay" th:if="${board.result >= 0}" class="overlay mx-auto text-center" >
	        <h3 class="my-3 text-info">Roi en échec</h3>
	        <h2 class="my-3 text-danger" th:if="${board.isCheckMate()}" >Echec et math !</h2>
	        <h2 class="my-3 text-warning" th:if="${board.result == 0}" th:text="Egalité ! Fin de la partie" >Victoire !</h2>
	        <h2 class="my-3 text-warning" th:if="${board.result == 1}" th:text="${myself.username + ' a remporté la partie ! '}" >Victoire !</h2>
	        <h2 class="my-3 text-warning" th:if="${board.result == 2}" th:text="${opponent.username + ' a remporté la partie ! '}" >Victoire !</h2>
	     </div>
	     <div class="text-center" >
			<!-- Infos -->
			
			<h4 th:if="${board.turn == 0}" th:text="${'Au tour de ' + myself.username +' !'}">Au tour de bidule</h4>
			<h4 th:if="${board.turn == 1}" th:text="${'Au tour de ' + opponent.username +' !'}">Au tour de truc</h4>
			<b>Coups disponibles :</b> 
			<button th:disabled="${!board.isSmallCastlingOk()}" class="btn" th:classappend="btn-info">Small Castling</button>
			<button th:disabled="${!board.isBigCastlingOk()}" class="btn" th:classappend="btn-info">Big Castling</button>
			<button th:disabled="${!board.draw()}" class="btn" th:classappend="btn-danger">Draw</button>
		</div>
		<br>
		 <div class="text-center" >			
			<!-- <a class="btn btn-primary" href="#" th:href="@{/game/reset}">Reinitialiser</a> -->
			<a th:href="@{/game/save}" class="btn btn-success">Sauvegarder et Quitter</a>
			<a th:href="@{|/|}" class="btn btn-danger">Quitter sans sauver</a>

		</div>
	     <script>
	     	var timeElapsed;
	     	var incrementTime;
	     
	     	window.onload = (function(){
	     		//Recuperation du temps pour increment coté client
	     		var counter = document.getElementById("timeSpan");
	     		timeElapsed = parseInt(counter.innerHTML,10);
	     		console.log("time init : "+timeElapsed);
	     		
	     		if(typeof incrementTime === "function"){
	     			incrementTime();
	     		}
	     		
	     	});
	     	
	     	//JS : pour cacher l'écran de défaite
	     	function undisplayOverlay(){
	     		var overlay = document.getElementById("overlay");
	     		overlay.style.display = "none";
	     		
	     	}
	     	
	     	function actionCase(x,y){
	     		 var link="/game/play/select/";
	     		 link+= x.toString(),
	     		 link += ",";
	     		link+= y.toString();
	     		 document.location.href = link; 
	     	}
	     	
	     </script>
	</div>
	
		<script th:fragment="customScript" th:if="${ board.result <0 }">
	     	incrementTime = function(){
	     		var counter = document.getElementById("timeSpan");
	     		timeElapsed = timeElapsed + 1;
	     		
	     		counter.innerHTML = timeElapsed;
	     		setTimeout(incrementTime, 1000);
	     	};
	     	
	     	
			</script>
	</body>
</html>